.idea/
mysite/locale/
mysite/mainimages/__pycache__/
mysite/mainimages/api/__pycache__/
mysite/mainimages/migrations/__pycache__/
mysite/media/
mysite/mysite/__pycache__/
mysite/players/__pycache__/
mysite/players/migrations/0002_alter_profileuser_photo.py
mysite/players/migrations/__pycache__/
mysite/projectdata.json
postgres_data/
venv/

.env