{% extends "base.html" %}

{% load static %}

{% block page_content %}

<style>
    p {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    }


</style>


<div class="modal-content1 ps-5 pb-5 pe-5">
    <h3 class="mt-4 mb-3"><b>Создание профиля</b></h3>
    <div class="row">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='modal-red-btn btn text-white mt-3 mb-3 w-100' type="submit">Reload</button>
        </form>


<!--        <form method="post">-->
<!--            {% csrf_token %}-->
<!--            <div class="mt-4">-->
<!--                <p>Фото</p>-->
<!--                {{ form.photo }}-->
<!--            </div>-->
<!--            <div class="mt-4">-->
<!--                <p>Имя</p>-->
<!--                {{ form.first_name }}-->
<!--            </div>-->
<!--            <div class="mt-4">-->
<!--                <p>Фамилия</p>-->
<!--                {{ form.last_name }}-->
<!--            </div>-->
<!--            <div class="mt-4">-->
<!--                <p>Веб-сайт</p>-->
<!--                {{ form.website }}-->
<!--            </div>-->
<!--            <div class="mt-4">-->
<!--                <p>Дата рождения</p>-->
<!--                {{ form.date_of_birth }}-->
<!--            </div>-->
<!--            <div class="mt-4">-->
<!--                <p>О себе</p>-->
<!--                {{ form.about }}-->
<!--            </div>-->
<!--            &lt;!&ndash;            <input class="modal-red-btn btn text-white mt-3 w-100" type="submit" value="Submit">&ndash;&gt;-->
<!--            <button class='modal-red-btn btn text-white mt-3 mb-3 w-100' type="submit">Reload</button>-->
<!--        </form>-->

    </div>
</div>

{% endblock %}