{% extends "base.html" %}

{% load static %}

{% block page_content %}

<style>
    p {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    }


</style>


<div class="modal-content1 ps-5 pb-5 pe-5">
    <h3 class="mt-4 mb-3"><b>Создание профиля</b></h3>
    <div class="row">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='modal-red-btn btn text-white mt-3 mb-3 w-100' type="submit">Reload</button>
        </form>
    </div>
</div>

{% endblock %}