{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block page_content %}

<body class="login-bg" style="height: 100vh;">
<div class="modal-content ps-5 pb-5 pe-5">
    <h3 class="mt-4 mb-3"><b>Login</b></h3>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="">
                {{ form.as_p }}
            </div>
            <input class="modal-red-btn btn text-white mt-3 w-100" type="submit" value="Login">
        </form>
    </div>
</div>
</body>

{% endblock %}