{% extends "base.html" %}
{% load static %}
{% block page_content %}


<div class="col-3"></div>
<div class="col-xl-6 pt-2 row pin-detail-container">
    <h2 class="text-black" style="text-align: center;"><b>Создать группу</b></h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12 mt-4">
            Наименование
            {{ form.title }}
        </div>
        <div class="col-md-12 mt-4">
            Ковёр
            {{ form.cover }}
        </div>
        <div class="col-md-12 mt-4">
            Ограничить доступ
            {{ form.is_private }}
        </div>
        <div class="col-md-12 mt-4">
            Выберите посты
            {{ form.posta }}
        </div>
        <div class="col-md-12 mt-4">
            Описание
            {{ form.body }}
        </div>
        <button class="col-md-12 modal-red-btn btn text-white mt-3 mb-3" type="submit">Создать</button>
    </form>
</div>




<!--<a href="{% url 'home_page_create' %}" class="ms-1 nav-link px-2 link-dark" style="text-align: center"><b> ПОСМОТРЕТЬ СВОИ ГРУППЫ </b></a>-->
<!--<form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{ form.title }}-->
<!--    {{ form.cover }}-->
<!--    {{ form.is_private }}-->
<!--    {{ form.posta }}-->
<!--    {{ form.body }}-->
<!--    <button class='modal-red-btn btn text-white mt-3 mb-3 w-100' type="submit">Upload</button>-->
<!--</form>-->


<!--<div style="text-align: center;">-->
<!--    <h1><b>{{ user.username }}</b></h1>-->
<!--</div>-->
<!--<div class="grid">-->
<!--    {% for i in posts_created %}-->
<!--    {% if user.id == i.user.id %}-->
<!--    <div class="grid-item" href="#">-->
<!--        <a href="{{ item.get_absolute_url }}"><img src="{{ i.photo.url }}" alt="image" width="300px"></a>-->
<!--    </div>-->
<!--    {% endif %}-->
<!--    {% endfor %}-->
<!--</div>-->
<!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>-->
<!--<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>-->
<!--<script>-->
<!--    var elem = document.querySelector('.grid');-->
<!--    var msnry = new Masonry( elem, {-->
<!--        itemSelector: '.grid-item',-->
<!--        gutter: 10,-->
<!--    });-->

<!--    let elem2 = document.querySelector('.grid');-->
<!--    let infScroll = new InfiniteScroll( elem2, {-->
<!--        path: '.pagination__next',-->
<!--        append: '.grid-item',-->
<!--        outlayer: msnry-->
<!--&lt;!&ndash;        history: false,&ndash;&gt;-->
<!--    });-->

<!--</script>-->


{% endblock %}